<!doctype html>
<html>

	<head>
		<!-- META -->
		<title>socketio chat</title>
		<meta charset="utf-8">

		<!-- CSS -->
		<link rel="stylesheet" href="css/style.min.css">
	</head>

	<body class="flex flex-horz flex-center" data-ng-app="socketio-chat" data-ng-controller="chatCtrl">
		<form class="flex" data-ng-hide="joined" data-ng-submit="join()">
			<input type="text" placeholder="name" data-ng-model="name" autofocus>
			<button>join</button>
		</form>
		<ul class="chat list-unstyled flex-auto" data-ng-show="joined">
			<li data-ng-repeat="message in messages">{{ message.name }}: {{ message.message }}</li>
		</ul>
		<form class="flex" data-ng-show="joined" data-ng-submit="send()">
			<input type="text" placeholder="text" data-ng-model="text">
			<button>send</button>
		</form>

		<!-- JS -->
		<script src="socket.io/socket.io.js"></script>
		<script src="js/script.min.js"></script>
	</body>

</html>