<!doctype html>
<html>

	<head>
		<!-- META -->
		<title>socketio chat</title>
		<meta charset="utf-8">

		<!-- CSS -->
		<link rel="stylesheet" href="css/style.min.css">
	</head>

	<body class="flex flex-horz flex-center" data-ng-app="socketio-chat" data-ng-controller="chatCtrl">
		<div class="flex" data-ng-hide="joined">
			<input type="text" placeholder="name" data-ng-model="name">
			<button data-ng-click="join()">join</button>
		</div>
		<ul class="flex-auto" data-ng-show="joined">
			<li data-ng-repeat="message in messages"></li>
		</ul>
		<div class="flex" data-ng-show="joined">
			<input type="text" placeholder="text" data-ng-model="text">
			<button data-ng-click="send()">send</button>
		</div>

		<!-- JS -->
		<script src="socket.io/socket.io.js"></script>
		<script src="js/script.min.js"></script>
	</body>

</html>